{% extends 'core/base.html'%} {% block wrapper %}

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">
  <!-- Header
		============================================= -->
  {% include "core/header.html" %}

  <!-- Page Title
		============================================= -->
  <section id="page-title">
    <div class="container clearfix">
      <h1>Shop</h1>
      <span>Start Buying your Favourite Theme</span>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shop</li>
      </ol>
    </div>
  </section>
  <!-- #page-title end -->

  <!-- Content
		============================================= -->
  <section id="content">
    <div class="content-wrap">
      <div class="container clearfix">
        <!-- Shop
					============================================= -->
        <div
          id="shop"
          class="shop row grid-container gutter-30"
          data-layout="fitRows"
        >
        
              
							<h4>{% if products %} {{products.name}} {{products.id}}{% else %}Nada{% endif %}</h4>

                {% for product in products %}                
                <form
                id="carrinho-send"
                name="carrinho-send"
                class="row mb-0"
                action="/adiciona"
                method="post"
                >
                <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="grid-inner">
                    <div class="product-image">
                      <a href="#"
                        ><img
                          src="{{ url_for('static', filename='images/shop/pants/1-1.jpg') }}"
                          alt="Slim Fit Chinos"
                      /></a>
                      <a href="#"
                        ><img
                          src="{{ url_for('static', filename='images/shop/pants/1.jpg') }}"
                          alt="Slim Fit Chinos"
                      /></a>
                      <div class="bg-overlay">
                        <div
                          class="bg-overlay-content align-items-end justify-content-between"
                          data-hover-animate="fadeIn"
                          data-hover-speed="400"
                        >
                        
                            <div class="col-12 form-group">
                            <button
                              class="btn btn-dark me-2"
                              type="submit"
                            >
                            <i class="icon-shopping-basket"></i>
                            </button>
                            </div>
                            
                          <a
                            href="include/ajax/shop-item.html"
                            class="btn btn-dark"
                            data-lightbox="ajax"
                            ><i class="icon-line-expand"></i
                          ></a>
                        </div>
                        <div class="bg-overlay-bg bg-transparent"></div>
                      </div>
                    </div>
                    <div class="product-desc">
                      <div class="product-title">
                          <h3><a href="#">{{ product.name }}</a></h3>
                          <input type="hidden" name="id" value="{{ product.id }}">
                          <input type="hidden" name="name" value="{{ product.name }}">
                          <input type="hidden" name="price" value="{{ product.price }}">
                      </div>
                      <div class="product-price">{{ product.price }}€</div>
                    </div>
                  </div>
                </div>
                </form>
								{% endfor %}
							
        <!-- #shop end -->
      </div>
    </div>
  </section>
  <!-- #content end -->

  <!-- Footer
		============================================= -->

  {% include "core/footer.html" %}
</div>
<!-- #wrapper end -->

{% endblock %}
