{% extends 'core/base.html'%} {% block wrapper %}

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">
  <!-- Header
		============================================= -->
  {% include "core/header.html" %}

  <!-- #header end -->

  <!-- Page Title
		============================================= -->
  <section id="page-title">
    <div class="container clearfix">
      <h1>My Account</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </div>
  </section>
  <!-- #page-title end -->

  <!-- Content
		============================================= -->
  <section id="content">
    <div class="content-wrap">
      <div class="container clearfix">
        <div
          class="tabs mx-auto mb-0 clearfix"
          id="tab-login-register"
          style="max-width: 500px">

            <div class="tab-content" id="tab-register">
              <div class="card mb-0">
                <div class="card-body" style="padding: 40px">
                  <h3>Atualizar Morada
                  </h3>

                  <form
                    id="register-form"
                    name="register-form"
                    class="row mb-0"
                    action="/update-profile"
                    method="post"
                  >
                    <div class="col-12 form-group">
                      <label for="register-form-add_line1">Endereço 1:</label>
                      <input
                        type="text"
                        id="register-form-add_line1"
                        name="register-form-add_line1"
                        value=""
                        class="form-control"
                      />
                    </div>

                    <div class="col-12 form-group">
                      <label for="register-add_line2">Endereço 2:</label>
                      <input
                        type="text"
                        id="register-form-add_line2"
                        name="register-form-add_line2"
                        value=""
                        class="form-control"
                      />
                    </div>

                    <div class="col-12 form-group">
                      <label for="register-form-city">Cidade:</label>
                      <input
                        type="text"
                        id="register-form-city"
                        name="register-form-city"
                        value=""
                        class="form-control"
                      />
                    </div>

                    <div class="col-12 form-group">
                      <label for="register-form-postal-code"
                        >Código Postal:</label
                      >
                      <input
                        type="text"
                        id="register-form-postal-code"
                        name="register-form-postal-code"
                        value=""
                        class="form-control"
                      />
                    </div>

                    <div class="col-12 form-group">
                      <button
                        class="button button-3d button-black m-0"
                        id="register-form-submit"
                        name="register-form-submit"
                        value="register"
                      >
                        Atualizar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #content end -->

  <!-- Footer
		============================================= -->
  {% include "core/footer.html" %}
  <!-- #footer end -->
</div>
<!-- #wrapper end -->

{% endblock %}
